<a href="https://colab.research.google.com/github/Mdshahriadristy/Pip-Project/blob/main/Pip_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Step1

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('Shahria_Coffee Shop Sales_Notebook.csv')
Output =  []
Output.append(df)
print(Output)

[           Date     Product Region Customer_Type  Quantity  Price  Discount  \
0    2024-08-02  Cappuccino   West           New         9  14.20      0.12
1    2024-04-16       Latte   East           New        74  16.81      0.26
2    2024-03-03    Espresso   West           New        19  16.34      0.21
3    2024-11-03    Pastries   West           New        93  13.13      0.29
4    2024-03-10       Latte  North           New        73   1.08      0.22
..          ...         ...    ...           ...       ...    ...       ...
995  2024-08-13  Cappuccino   East       Regular        22   1.23      0.03
996  2024-09-01       Latte  South           New        80   7.55      0.26
997  2024-12-29    Pastries  South       Regular        89  16.25      0.21
998  2024-06-10    Pastries  South           New        12  18.67      0.24
999  2024-01-10  Cappuccino  North       Regular         9  15.27      0.17

     Revenue
0     112.46
1     920.52
2     245.26
3     866.97
4      61.50
..       ...
995    26.25
996   446.96
997  1142.54
998   170.27
999   114.07

[1000 rows x 8 columns]]

Step2

In [ ]:
print(df.head())
Output.append(f"first few rows:\n{df.head()}\n")

         Date     Product Region Customer_Type  Quantity  Price  Discount  \
0  2024-08-02  Cappuccino   West           New         9  14.20      0.12
1  2024-04-16       Latte   East           New        74  16.81      0.26
2  2024-03-03    Espresso   West           New        19  16.34      0.21
3  2024-11-03    Pastries   West           New        93  13.13      0.29
4  2024-03-10       Latte  North           New        73   1.08      0.22

   Revenue
0   112.46
1   920.52
2   245.26
3   866.97
4    61.50

In [ ]:
print(df.describe())
Output.append(f"describe:\n{df.describe()}")

          Quantity        Price     Discount      Revenue
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     51.525000    10.475800     0.151960   459.389710
std      28.880191     5.488437     0.087828   383.170965
min       1.000000     1.010000     0.000000     0.900000
25%      27.000000     5.747500     0.080000   148.687500
50%      51.000000    10.485000     0.150000   347.220000
75%      78.000000    15.130000     0.230000   688.907500
max     100.000000    20.000000     0.300000  1793.270000

Step3

In [ ]:
Output.append("Data Cleaning Result:\n")
missing_values = df.isnull().sum()
print(missing_values)
Output.append(f"Missing values:\n{missing_values}\n")
df.dropna(inplace=True)
Output.append("Dropped rows with missing values:\n")
print(df)

Date             0
Product          0
Region           0
Customer_Type    0
Quantity         0
Price            0
Discount         0
Revenue          0
dtype: int64
           Date     Product Region Customer_Type  Quantity  Price  Discount  \
0    2024-08-02  Cappuccino   West           New         9  14.20      0.12
1    2024-04-16       Latte   East           New        74  16.81      0.26
2    2024-03-03    Espresso   West           New        19  16.34      0.21
3    2024-11-03    Pastries   West           New        93  13.13      0.29
4    2024-03-10       Latte  North           New        73   1.08      0.22
..          ...         ...    ...           ...       ...    ...       ...
995  2024-08-13  Cappuccino   East       Regular        22   1.23      0.03
996  2024-09-01       Latte  South           New        80   7.55      0.26
997  2024-12-29    Pastries  South       Regular        89  16.25      0.21
998  2024-06-10    Pastries  South           New        12  18.67      0.24
999  2024-01-10  Cappuccino  North       Regular         9  15.27      0.17

     Revenue
0     112.46
1     920.52
2     245.26
3     866.97
4      61.50
..       ...
995    26.25
996   446.96
997  1142.54
998   170.27
999   114.07

[1000 rows x 8 columns]

In [ ]:
df['Date'] =pd.to_datetime(df['Date'])
df['Day']=df['Date'].dt.day_name()
print(df)

          Date     Product Region Customer_Type  Quantity  Price  Discount  \
0   2024-08-02  Cappuccino   West           New         9  14.20      0.12
1   2024-04-16       Latte   East           New        74  16.81      0.26
2   2024-03-03    Espresso   West           New        19  16.34      0.21
3   2024-11-03    Pastries   West           New        93  13.13      0.29
4   2024-03-10       Latte  North           New        73   1.08      0.22
..         ...         ...    ...           ...       ...    ...       ...
995 2024-08-13  Cappuccino   East       Regular        22   1.23      0.03
996 2024-09-01       Latte  South           New        80   7.55      0.26
997 2024-12-29    Pastries  South       Regular        89  16.25      0.21
998 2024-06-10    Pastries  South           New        12  18.67      0.24
999 2024-01-10  Cappuccino  North       Regular         9  15.27      0.17

     Revenue        Day
0     112.46     Friday
1     920.52    Tuesday
2     245.26     Sunday
3     866.97     Sunday
4      61.50     Sunday
..       ...        ...
995    26.25    Tuesday
996   446.96     Sunday
997  1142.54     Sunday
998   170.27     Monday
999   114.07  Wednesday

[1000 rows x 9 columns]

Step4

In [1]:
duplicates = df.duplicated().sum
Output.append(f" Number of Duplicates Dropped: {duplicates()}\n")
df.drop_duplicates(inplace=True)

NameError: name 'df' is not defined

Step5

In [ ]:
total_revenue = df['Revenue'].sum()
Output.append(f"Total Revenue: ${total_Revenue}\n")
print(f'Total_Revenue: ${total_Revenue}')

Total_Revenue: $459389.71

In [ ]:
average_price per_service = df.groupby('Customer_Type')['price'].mean()
Output.append(f"Avarage  price per Customer Type:\n")
Output.append(f"{average_price_per_service}\n")
print(avarage_price_per_service)

KeyError: 'Column not found: price'